.selector-button:hover{
    background-color: aqua;
    color: rgb(255, 255, 255);
}
.selector-button{
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.1em 0.3em;
    text-align: center;
    color: rgb(255, 255, 255);

}
.selector-button-active{
    background-color: green;
    color: rgb(255, 255, 255);
}
.selector-button-inactive{
    background-color: rgb(245, 239, 239);
    color: rgb(0, 0, 0);
}
.selector-button-container{
    display: grid;
    width: fit-content !important;
    gap: 0.2em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2em;
    background-color: rgb(255, 255, 255);
}