body{
  background-color: rgb(233, 233, 233) !important;
}
input, select{
  width: 100%;
}
input[type="checkbox"]{
  width: auto;
}
option{
  overflow: hidden;
}
hr{
  margin: 0.5em 0 !important;
}
dialog{
  box-shadow: 0px 0px 10px black;
}

.property-grid{
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 0.5em;
}
.property-row{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}
svg{
  min-width: 0;
  min-height: 0;
}
.user{
  justify-self: end;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  margin-right: 1em;
}
.header{
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}