$icon-url: '../images/icons/';
$image-url: '../images/';
$defaultBackColor: rgb(255, 255, 255);
* {
  user-select: none;
}

.version {
  display: flex;
  align-items: center;

}

dialog {
  overflow: hidden;
  padding: 0.5rem;
}

body {
  background-image: url('../images/background/back1.png');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100svh;
}

#root {
  height: 100%;
}

body:has(dialog[open]) {
  overflow: hidden;
}

input,
select {
  width: 100%;
}

input[type="checkbox"] {
  width: auto;
}

option {
  overflow: hidden;
}

hr {
  margin: 0.2rem 0 0.5rem 0 !important;
}

dialog {
  box-shadow: 0px 0px 10px black;
}



.property-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}

svg {
  min-width: 0;
  min-height: 0;
}

.user {
  justify-self: end;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  margin-right: 1em;
}

.spinner-container {
  position: absolute;
  top: 0px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e7e7e;
  opacity: 30%;
}

.spinner {
  border: 8px solid #ffffff;
  border-top: 8px solid #2f00ff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}