$icon-url: '../images/icons/';
$image-url: '../images/';
*{
  user-select: none;
}
.version{
  display: flex;
  align-items: center;
  
}
dialog{
  overflow: hidden;
  padding: 0.5rem;
}
html{
  height: 100%;
}
body{
  background-color: rgb(233, 233, 233) !important;
  height: 100%;
}
body:has(dialog[open]) {
  overflow: hidden;
}
input, select{
  width: 100%;
}
input[type="checkbox"]{
  width: auto;
}
option{
  overflow: hidden;
}
hr{
  margin: 0.2rem 0 0.5rem 0!important;
}
dialog{
  box-shadow: 0px 0px 10px black;
}

.property-grid{
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 0.2rem;
}
.property-row{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}
svg{
  min-width: 0;
  min-height: 0;
}
.user{
  justify-self: end;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  margin-right: 1em;
}
