$icon-url: '../images/icons/';

.button {
  display: inline-block;
  position: relative;
  background-size: 100%;
  background-position: center;
  -width: 27px;
  -height: 27px;
  cursor: pointer;
}

.button:hover {
  mix-blend-mode: multiply;
}

.button-disabled {
  display: inline-block;
  background-size: 100%;
  background-position: center;
  -width: 27px;
  -height: 27px;
  mix-blend-mode: multiply;
}

.separator {
  position: relative;
  bottom: 1px;
  margin: 0;
  width: 1px;
  border: inset 1px;
}


@mixin fixed {
  width: 100%;
  height: 100%;
  margin: auto;
  mix-blend-mode: exclusion;
}

.fixedWidth {
  background: url($icon-url+'fixedWidth.svg') no-repeat center;
  @include fixed;
}

.fixedHeight {
  background: url($icon-url+'fixedHeight.svg') no-repeat center;
  @include fixed;
}

.fixedBoth {
  background: url($icon-url+'fixedBoth.svg') no-repeat center;
  @include fixed;
}


.refresh {
  background: url($icon-url+'refresh.png') no-repeat center;
  height: 24px;
}

.arrowRight {
  background: url($icon-url+'arrowRight.svg') no-repeat;
  width: 8px;
  height: 10px;
}

.arrowLeft {
  @extend .arrowRight;
  transform: rotate(180deg);
}

$statusBarIconHeight : 25px;
$statusBarIconWidth : 20px;

@mixin statusBarIcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 25px;
  width: 30px;
}

$instruments_button_width: 32px;
$instruments_button_height: 32px;
$header_button_width: 48px;
$header_button_height: 48px;

@mixin instruments_button {
  width: $instruments_button_width;
  height: $instruments_button_height;
  background-repeat: no-repeat;
  min-width: $instruments_button_width;
}

@mixin header_button {
  @include instruments_button();
  width: $header_button_width;
  height: $header_button_height;
  min-width: $header_button_width;
}

.prevFasad {
  background-image: url($icon-url+'prevFasad.png');
  background-size: 100% 100%;
  @include instruments_button();
  height: $instruments_button_width * 2;
}

.nextFasad {
  background-image: url($icon-url+'nextFasad.png');
  background-size: 100% 100%;
  @include instruments_button();
  height: $instruments_button_width * 2;
}

.selectParent {
  background-image: url($icon-url+'selectParent.png');
  @include instruments_button();
}

.editMaterials {
  background-image: url($icon-url+'editMaterials.png');
  @include header_button();
}
.save {
  background-image: url($icon-url+'save.png');
  @include header_button();
}
.open {
  background-image: url($icon-url+'open.png');
  @include header_button();
}
.new {
  background-image: url($icon-url+'new.png');
  @include header_button();
}

.fix {
  background-image: url($icon-url+'fix.png');
  background-size: 100% 100%;
  @include instruments_button();
}

.unfix {
  background-image: url($icon-url+'unfix.png');
  background-size: 100% 100%;
  @include instruments_button();
}