@import "./vars.scss";
.confirm-message{
    max-width: 300px;
}

.warning{
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 1em;
    animation: warn 0.6s infinite;
}

@keyframes warn {
    0% {
        background-color: $defaultBackColor;

    }
    50% {
        background-color: $warningColor;
        
    }
}

@mixin notifyMessage {
    position: fixed;
    display: inline;
    bottom: 50px;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid;
    background-color: $warningColor;
    font-size: 1.5em;
    font-style: italic;
    padding: 1em;
    transition-property: right;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.notifyMessageOff {
    @include notifyMessage();
    -visibility: hidden;
    right: -100px;
}

.notifyMessageOn {
    @include notifyMessage();
    -visibility: visible;
    right: 50px;
}