.schema-background {
    background-color: gray;
    padding: 1rem;
    overflow: scroll;
    
}

.schema-sheet {
    width: 297mm;
    height: 210mm;
    padding: 2rem;
    background-color: white;
}

.schema-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 4fr 1fr;

    font-size: 0.8rem;
}

.schema-left {
    display: flex;
    flex-direction: column;
}

.schema-order {
    border: 1px solid black;
    text-align: center;
    white-space: pre;
}

.schema-view-container {
    flex: 1;
    border: 1px solid black;
    justify-self: stretch;
    padding: 1em;
}

.schema-view {
    justify-self: center;
    margin: auto;
}

.fasad-schema-section {
    padding: 0px;
}

.schema-table {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    min-width: 70mm;
}

.schema-table-row {
    padding-left: 1em !important;
}

.schema-table>div {
    border: 1px solid black;
    padding-left: 0.5em;
}

.schema-table-data {
    font-weight: bold;
    padding-left: 0.5em;
}