.template-list{
    border: 1px solid black;
    padding: 0.2rem;
}
.template-item:hover{
    background-color: aqua;
}
.template-item{
    min-width: 200px;
}
.template-item-selected{
    font-weight: bold;
    border: 1px solid black;
}