
.fasad-container{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
.properties-bar{
  border: 2px solid black;
  padding: 1em;
}
.fasad-section:hover{
  border: 3px solid green;
}
.property-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
}